body{
    margin:0;
    padding:0;
    background-color:#082934;
    font-size:12px;
    font-family:Tahoma, Helvetica, sans-serif;
}
a{
    text-decoration:none;
    color:#333;
}
a:hover{
    color:#666;
}
.footer a{
    text-decoration:none;
    color:#999;
}
.footer a:hover{
    color:#fff;
}
.hd{
    background:url("../img/hd_bg.gif") repeat-x;
    height:95px;
}
.warpper{
    width:900px;
    margin:0 auto;
}
.hd_title{
    margin:18px 10px;
}
.main{
    background:url("../img/body_bg.gif") repeat-x;
}
.body_warpper{
    width:720px;
    margin:0 auto;
    padding:15px;
    position:relative;
}
.footer{
    font-size:11px;
    text-align:center;
    color:#ccc;
    padding:5px;
    _margin-top:-15px;
}
#board{
    width:460px;
    height:630px;
    background:url("../img/map.png") no-repeat top left;
    border:2px solid #ca0000;
    position:relative;
    float:left;
}
.pieces{
    position:absolute;
    cursor:pointer;
    background:url("../img/pieces.png") no-repeat;
    width:60px;
    height:30px;
}
.pieces_selected{
    border:solid 1px #ccc;
}
.pieces_c{
    position:absolute;
    cursor:pointer;
    background:url("../img/pieces_c.png") no-repeat;
    width:60px;
    height:30px;
}
#killedPieces0, #killedPieces1 {
    padding:5px;
    width:90px;
    float:left;
    height:610px;
    position:relative;
}
.funcBtns{
    position:absolute;
    bottom:10px;
    left:20px;
}
#descBtn{
    margin:5px 0 0 5px;
    display:block;
}
.role{
    padding:5px 10px;
}
.killedPieces_item{
    background:url("../img/pieces.png") no-repeat;
    width:60px;
    height:30px;
    margin:5px;
    display:block;
    position:relative;
}
.killedPieces_item b{
    position:absolute;
    top:5px;
    left:65px;
    display:block;
    font-weight:normal;
    font-size:14px;
}

.space{
    position:absolute;
    width:60px;
    height:30px;
    cursor:pointer;
}

#desc{
    background:#fcfcfc;
    padding:15px;
    border:1px solid #333;
    width:520px;
    position:absolute;
    left:70px;
    top:50px;
    z-index:1000;
    display:none;
}
#desc span{
    text-align:center;
    display:block;
    margin-top:10px;
}
p{
    text-indent:24px;
    line-height:22px;
    margin:5px;
}
h3{
    margin:10px 5px;
}
.clear{
    clear:both;
}
